language: cpp

os: osx
matrix:
  include:
    - os: osx
      osx_image: xcode10.2
      env:
        - MATRIX_EVAL="CMAKE_C_COMPILER=clang && CMAKE_CXX_COMPILER=clang++"

    - os: osx
      osx_image: xcode10.2
      env:
        - MATRIX_EVAL="brew install gcc@9 && CMAKE_C_COMPILER=gcc-9 && CMAKE_CXX_COMPILER=g++-9"

before_install:
    - eval "${MATRIX_EVAL}"

script:
  - cmake --version
  - cmake CMakeLists.txt
  - cmake  --build . --target run_tests
